{{ define "layout" }}

<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DataGarden</title>

    <link href="/assets/css/app/visualization.css" rel="stylesheet">

    <script src="/assets/engine/engine.js"></script>
  </head>

  <body>
    {{ template "content" . }}
  </body>

  <!-- load scripts last, after module and DOM created -->
  <script src="/assets/javascript/visualization_menu.js"></script>
</html>

{{ end }}
